.wrapper {
    font-size: 1rem;
    font-weight: 800;
    padding: 1rem;
    border: .2rem solid var(--color-light);
    outline: none;
    cursor: pointer;
    color: var(--color-dark);
    background-color: var(--color-light);
}

.wrapper:hover, .wrapper:focus-visible   {
    transition: all 0.05s ease-in-out;
    background-color: var(--color-light-hover);
}

.wrapper.primary {
    color: var(--color-light);
}

.wrapper.primary.solid {
    background-color: var(--color-primary);
}

.wrapper.primary.outline {
    background-color: var(--color-primary);
}

.wrapper:hover.primary, .wrapper.primary:focus-visible  {
    transition: all 0.05s ease-in-out;
    background-color: var(--color-primary-hover);
}