.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
}

.wrapper .left {
    grid-column: span 1;
    background-image: url("../../assets/cover.jpg");
    background-size: contain;
    background-position: left center;
}

.wrapper .right {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.wrapper .right .content {
    width: 60%;
}

.wrapper .right .content header {
    margin-bottom: 2rem;
}

.wrapper .right .content header h2 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    line-height: 1.2;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.wrapper .right .content header p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    margin: 0 auto;
}

.wrapper .right .content header p span {
    text-decoration: underline dotted;
    font-weight: 700;
}

.wrapper .content footer {
    margin-top: 4rem;
}

.wrapper .content footer span {
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--color-light);
    border-bottom: .1rem solid #d1d7dc;
}


.wrapper .content footer span:last-of-type {
    border-bottom: none;
}

.wrapper .content span button {
    font-weight: 700;
    color: var(--color-primary);
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}